body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-shadow: 0 2px #816fca;
}

h2 {
    font-size: 2.25rem;
    margin: 0.167em 0;

}

.beta-text {
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.beta-text,
.subheading {
    text-transform: uppercase;
}

p {
    font-size: 1.125rem;
    line-height: 1.35;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
}

/* =================
    Intro
   ================= */

.intro {
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background: #9480e4 url("images/intro-bg.png");
    background-size: cover;
}

/* ====================
    Main content
   ==================== */

.main-content {
    align-items: center;
    padding-top: 2.5em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */

input,
.btn {
    font-family: inherit;
    width: 100%;
    border-radius: 5px;
}

input {
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 2px solid #d1d5db;
}

input:focus {
    outline: none;
    background-color: #e6e8ec;
    border-color: #8a71ec;
}

.btn {
    padding: 1em 0;
    margin-top: 1em;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary {
    background-color: #9480e4;
    color: #fff;
    text-shadow: 0 2px #816fca;
}

.btn:hover,
.btn:focus {
    background-color: #b7a7f6;
}

/* =================
    Media queries 
   ================= */


@media (min-width: 576px) {
    body {
        display: flex;
    }

    .intro,
    .main-content {
        width: 50%;
    }

    .intro {
        min-height: 100vh;
    }

    .main-content {
        justify-content: center;
        padding-top: 0;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 2.625rem;
    }

    .beta-text {
        font-size: 1.25rem;
    }
}