body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
    padding: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-weight: 400;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
}

/* =================
    Intro
   ================= */
   
.intro { 
    color: #fff;
    background-color: #9480e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 250px;
}

/* ====================
    Main content
   ==================== */


/* =================
    Form
   ================= */
   

/* =================
    Media queries 
   ================= */